init_clim/data/soilinit filter=lfs diff=lfs merge=lfs -text
init_clim/data/surfclim filter=lfs diff=lfs merge=lfs -text
cama_flood/data/inpmat.nc filter=lfs diff=lfs merge=lfs -text
cama_flood/data/ncdata.nc filter=lfs diff=lfs merge=lfs -text
cama_flood/data/rivclim.nc filter=lfs diff=lfs merge=lfs -text
cama_flood/data/rivpar.nc filter=lfs diff=lfs merge=lfs -text
cama_flood/data/outclm.nc filter=lfs diff=lfs merge=lfs -text
cama_flood/data/mpireg.nc filter=lfs diff=lfs merge=lfs -text
cama_flood/data/liaise_grdc_observations.nc filter=lfs diff=lfs merge=lfs -text
landbench/data/ES-VDA/*.nc filter=lfs diff=lfs merge=lfs -text
init_clim/data/soilinit_depthtrilogy filter=lfs diff=lfs merge=lfs -text
init_clim/data/surfclim_depthtrilogy filter=lfs diff=lfs merge=lfs -text
cama_flood/data/liaise_river_observations_grdc_camels.nc filter=lfs diff=lfs merge=lfs -text
cama_flood/data_06min/*.nc filter=lfs diff=lfs merge=lfs -text
cama_flood/data_03min/*.nc filter=lfs diff=lfs merge=lfs -text
